max_inflight_messages {{getv "/mosquitto/conf/max/inflight/messages" "20"}}
message_size_limit {{getv "/mosquitto/conf/message/size/limit" "0"}}
{{if exists "/mosquitto/conf/persistent/client/expiration"}}
persistent_client_expiration {{getv "/mosquitto/conf/persistent/client/expiration"}}
{{end}}
allow_duplicate_messages {{getv "/mosquitto/conf/allow/duplicate/messages" "true"}}
allow_anonymous {{getv "/mosquitto/conf/allow/anonymous" "true"}}
{{if exists "/mosquitto/users/0/username"}}
password_file /etc/mosquitto/passwd
{{end}}
